{% extends 'base.html' %}

{% block content %}

  {% macro validate_field(field) %}
    {% if field.errors %}
      <div class=errors>
      {% for error in field.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endmacro %}

  <h1> Create a new book </h1>

  <form method="POST" action="#">
      {{ form.csrf_token }}
          {{ form.name.label }}
          {{ form.name }}
          {{ validate_field(form.name) }}<br><br>

          {{ form.author.label }} <br>
          {{ form.author }}
          {{ validate_field(form.author) }}<br><br>

          {{ form.year_published.label }} <br>
          {{ form.year_published }}
          {{ validate_field(form.year_published) }}<br><br>

          {{ form.type.label }} <br>
          {{ form.type }}
          {{ validate_field(form.type) }}<br><br>

          {{ form.submit() }}

  </form>
{% endblock %}
